python-dotenv
python-dotenv[cli]
pymysql
mysql-connector-python
psycopg2-binary
pugsql
openpyxl
jinja2
flask
Flask-MySQLdb
pyyaml
pandas
numpy
mathplotlib
pandasql
openpyxl
Pygments
pyzmq
Jinja2
lockfile
jupyter
bash-kernel
cryptography
jupyter-console
jupyter-contrib-core
jupyter-highlight-selected-word
jupyter-nbextensions-configurator
MarkupSafe
requests
SQLAlchemy
python-dateutil
flask_sqlalchemy
