vms/*.repo
*.vdi
vms/.vagrant/
generated_hosts
inventory
.ansible.cfg
vm-vagrant/id_rsa*
vms/__pycache__/
linode/__pycache__
linode/__pycache__/*
linode/*generated_hosts
linode/*.zip
linode/putty.exe
linode/*.bat
linode/id_rsa*
linode/*_drop_linodes.sh
linode/*_provision_linodes.sh
linode/*_generate_linodes.sh
Idera*
**/gmail.ini
**/sms.ini
python/chromedriver.exe
python/selenium/**
python/linkedin.ini
*.bak
vm-vagrant/privatekey.ppk
vm-vagrant/add_user.yml
vm-vagrant/install_packages.yml
vm-vagrant/inventory
vm-vagrant/bashrc
vm-vagrant/ansible.cfg
vm-vagrant/log/*
vm-vagrant/puttyreg.reg
vm-vagrant/.vagrant
vm-vagrant/Vagrantfile
vm-vagrant/cache/*
vm-vagrant/*.log
big-vms/.vagrant
big-vms/id_rsa*
big-vms/privatekey*
description.json
documentation/Articles.ipynb_checkpoints/
*/.ipynb_checkpoints/
.ipynb_checkpoints
**/.env
**/out.*
integration/Dumps DB/
integration/Dump*
integration/chapeau.sh.log
integration/counts/
integration/failback
integration/ARCHIVE_DATA.sql
integration/backups/
integration/new_data_archiver.sh.log
integration/new_importer.sh.log
rust/target/
python/rain/pexels
python/rain/videvo
python/rain/__pycache__
**/certs/
*.pem
*.cert
python/rain/*.mp4
python/rain/*.jpg
python/rain/*.log
python/rain/*.png
python/rain/*.mbtree
python/rain/client*.json
python/rain/*.storage
terraform/.terraform/**
terraform/*/*.tfstate
terraform/*/*.backup
terraform/*/.terraform
**/.vscode/*
.vscode/*
**/*.img
**/*.lock.hcl
rust/**.lock
rust/.rustc_info.json
rust/target/** 
rust/target/.rustc_info.json
**/**.txt~
**/v/mysql/mysql
docker/secrets/mysql-root-password
documentation/untitled
documentation/untitled1
integration/ListeTables.txt
integration/schemas_25112021.sql
oracle/*.sql
docker/*.cnf
docker/*.bashrc
**/data
uditNov2025/Dumps
uditNov2025/venv
uditNov2025/audit_report.html
uditNov2025/audit_report.pdf
uditNov2025/mysqltuner_verbose_Nov2025.json
uditNov2025/tmp
uditNov2025/results
uditNov2025/.venv
docker/mariadb/datadir_01
docker/mariadb/datadir_02
docker/mariadb/datadir_03
docker/mariadb/gdatadir_01
docker/mariadb/gdatadir_02
docker/mariadb/gdatadir_03