vms/*.repo
*.vdi
vms/.vagrant/
generated_hosts
inventory
.ansible.cfg
vm-vagrant/id_rsa*
vms/__pycache__/
linode/__pycache__
linode/__pycache__/*
linode/*generated_hosts
linode/*.zip
linode/putty.exe
linode/*.bat
linode/id_rsa*
linode/*_drop_linodes.sh
linode/*_provision_linodes.sh
linode/*_generate_linodes.sh
Idera*
**/gmail.ini
**/sms.ini
python/chromedriver.exe
python/selenium/**
python/linkedin.ini
*.bak
vm-vagrant/privatekey.ppk
vm-vagrant/add_user.yml
vm-vagrant/install_packages.yml
vm-vagrant/inventory
vm-vagrant/bashrc
vm-vagrant/ansible.cfg
vm-vagrant/log/*
vm-vagrant/puttyreg.reg
vm-vagrant/.vagrant
vm-vagrant/Vagrantfile
vm-vagrant/cache/*
vm-vagrant/*.log
description.json
documentation/Articles.ipynb_checkpoints/
*/.ipynb_checkpoints/
.ipynb_checkpoints
**/.env
**/out.*
integration/Dumps DB/
integration/Dump*
integration/chapeau.sh.log
integration/counts/
integration/failback
integration/ARCHIVE_DATA.sql
integration/backups/
integration/new_data_archiver.sh.log
integration/new_importer.sh.log
rust/target/