jinja2
jinja2-cli[yaml]
jinja2-cli[json]
python-dotenv
benedict[all]
icecream
pendulum
pypdf
loguru
rich
tqdm
httpx
uvicorn[standard]
fastapi
sqlmodel
pydantic
xarray
result
seaborn[stats]
polars
flask
tldr
pandas
Faker