[mariadb]
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

# Galera Cluster Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://10.6.0.11,10.6.0.12,10.6.0.13"
wsrep_cluster_name="galera_cluster"
wsrep_sst_method=mariabackup
wsrep_sst_auth="sst_user:sstpass"

# Node Configuration
wsrep_node_address="10.6.0.11"
wsrep_node_name="galera01"
wsrep_log_conflicts=ON
wsrep_provider_options="cert.log_conflicts=YES"

# Advanced Galera/MariaDB Settings
gtid_strict_mode=1
proxy_protocol_networks=10.5.0.0/24,10.6.0.0/24
binlog_expire_logs_seconds=172800
# innodb
#innodb_flush_log_at_trx_commit = 0
#innodb_flush_method = O_DIRECT
#innodb_buffer_pool_size = 2G
#innodb_log_file_size = 512M


performance_schema             = ON
performance-schema-consumer-events-statements-history-long = ON
performance-schema-consumer-events-statements-history = ON
performance-schema-consumer-events-statements-current = ON
performance-schema-consumer-events-stages-current=ON
performance-schema-consumer-events-stages-history=ON
performance-schema-consumer-events-stages-history-long=ON
performance-schema-consumer-events-transactions-current=ON
performance-schema-consumer-events-transactions-history=ON
performance-schema-consumer-events-transactions-history-long=ON
performance-schema-consumer-events-waits-current=ON
performance-schema-consumer-events-waits-history=ON
performance-schema-consumer-events-waits-history-long=ON
performance-schema-instrument='%=ON'
max-digest-length=2048
performance-schema-max-digest-length=2048


slow_query_log = 1
long_query_time = 2.0
log_slow_rate_limit = 5
