---
- name: Changer le mot de passe d'un utilisateur Redis
  hosts: redis
  gather_facts: false
  vars:
    redis_username: ""  # Le nom de l'utilisateur Redis
    redis_password: ""  # Le nouveau mot de passe pour l'utilisateur
  run_once: true
  tasks:
    - name: Vérifier si l'utilisateur Redis existe
      ansible.builtin.shell: |
        redis-cli -c -p 7001 -a {{ redis_auth_password }} acl listusers  2>/dev/null| grep "{{ redis_username }}"
      register: user_exists
      failed_when: false
      changed_when: false

    - name: Changer le mot de passe de l'utilisateur Redis
      ansible.builtin.shell: |
        redis-cli -c -p 7001 -a {{ redis_auth_password }} acl setuser "{{ redis_username }}" on >password "{{ redis_password }}" 2>/dev/null
      when: user_exists.stdout != ""
      register: password_change

    - name: Afficher un message si l'utilisateur n'existe pas
      ansible.builtin.debug:
        msg: "L'utilisateur Redis '{{ redis_username }}' n'existe pas."
      when: user_exists.stdout == ""

    - name: Afficher le résultat du changement de mot de passe
      ansible.builtin.debug:
        msg: "Le mot de passe de l'utilisateur Redis '{{ redis_username }}' a été changé."
      when: password_change is changed
